name: markdown

# if .md files are touched in a PR, lint them!

on:
  pull_request:
    branches: ["main"]
    paths:
        - '**/*.md'

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - uses: tj-actions/changed-files@v47
      id: changed-files
      with:
        files: '**/*.md'
        separator: ","
    - uses: DavidAnson/markdownlint-cli2-action@v21
      if: steps.changed-files.outputs.any_changed == 'true'
      with:
        config: 'docs/.markdownlint.json'
        globs: ${{ steps.changed-files.outputs.all_changed_files }}
        separator: ","
